<h1>pass_change</h1>

<%= form_for @user, url: "/user/#{@user.id}/pass_update" do |f| %>
<p>パス：<%= f.password_field :password %></p>
<p>パス(再)：<%= f.password_field :password_confirmation %></p>
<p><%= f.submit "更新" %></p>
<% end %>


<%= link_to "マイページへ", user_path %>