<h1>Userページ</h1>

<p><%= @user.email %>さんのマイページ</p>

<p><%= link_to "ユーザ情報編集ページ", edit_user_path(@user) %></p>
<p><%= link_to "パスワード変更", "/user/#{@user.id}/pass_change" %></p>

<h2>現在時刻:<%= Time.now %></h2>


<% if @attendance_end.end.nil? && @attendance_end.start.nil? %>
  <!-- 初出勤の場合 -->
  <div>
    <%= form_for @attendance, url: '/attendances',method: :post do |f| %>
      <p><%= f.submit "勤務開始" %></p>
    <% end %>
  </div>
<% elsif @attendance_end.end.nil? %>
  <!-- 出勤終了していない -->
  <div>
    <%= form_for @attendance_end, url: "/attendances/#{@user.id}" ,method: :patch do |f| %>
      <p><%= f.submit "勤務終了" %></p>
    <% end %>
  </div>
<% else %>
  <!-- 出勤開始していない -->
  <div>
    <%= form_for @attendance, url: '/attendances',method: :post do |f| %>
      <p><%= f.submit "勤務開始" %></p>
    <% end %>
  </div>
<% end %>

<p><%= link_to "申請", application_new_attendances_path %></p>

<p><%= link_to "Home", root_path %></p>