<h1>勤怠情報一覧</h1>

<p><%= link_to "管理者ページへ戻る", admin_index_path %></p>
<table border="1">
  <tr>
    <td>ユーザーID</td>
    <td>氏名</td>
    <td>勤怠開始時間</td>
    <td>勤怠終了時間</td>
    <td>承認</td>
  </tr>
  <% @attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.user_id %></td>
    <td><%= attendance.user.name %></td>
    <td><%= attendance.start %></td>
    <td><%= attendance.end %></td>
    <td>
      <% if attendance.approval %>
        <div id="approval_true_<%= attendance.id %>">
          <%= form_for attendance ,url: "/attendances/#{attendance.id}/approval_true", remote: true ,method: :post do |f| %>
            <%= f.hidden_field :approval, :value => false %>
            <p><%= f.submit "承認済み" %></p>
          <% end %>   
        </div>
      <% else %>
        <div id="approval_false_<%= attendance.id %>">
          <%= form_for attendance ,url: "/attendances/#{attendance.id}/approval_false", remote: true ,method: :post do |f| %>
            <%= f.hidden_field :approval, :value => true %>
            <p><%= f.submit "承認" %></p>
          <% end %>    
        </div>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>


<p><%= link_to "管理者ページへ戻る", admin_index_path %></p>

